@import url('./_type/swiper__button_type_next.css');
@import url('./_type/swiper__button_type_prev.css');
@import url('./_disabled/swiper__button_disabled.css');

.swiper__button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0px 3px 10px rgba(14, 26, 57, 0.2);
  z-index: 1;
  transition: .3s ease;
  cursor: url('../../../images/icon-cursor.svg'), auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 144px;
  z-index: 3;
}

.swiper__button:hover {
  transform: scale(1.2);
}

@media (max-width: 1024px) {
  .swiper__button {
    display: none;
  }
}