.news-card__site {
  font-family: 'Roboto Slab', 'Georgia', serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #B6BCBF;
  margin: 0;
}
