@import url('./__image/author__image.css');
@import url('./__text-container/author__text-container.css');
@import url('./__title/author__title.css');
@import url('./__text/author__text.css');

.author {
  font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
  display: flex;
}

@media (max-width: 1024px) {
  .author {
    align-items: center;
  }
}

@media (max-width: 700px) {
  .author {
    flex-direction: column;
  }
}