@import url('./__title-container/cards__title-container.css');
@import url('./__title/cards__title.css');
@import url('./__link-wrapper/cards__link-wrapper.css');
@import url('./__link/cards__link.css');
@import url('./__cards-list/cards__cards-list.css');
@import url('./__show-more-button/cards__show-more-button.css');

.cards {
  font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
}