@import url('./__copyright/footer__copyright.css');
@import url('./__nav-item/footer__nav-item.css');
@import url('./__nav-link/footer__nav-link.css');
@import url('./__nav-list/footer__nav-list.css');
@import url('./__social-item/footer__social-item.css');
@import url('./__social-link/footer__social-link.css');
@import url('./__social/footer__social.css');

.footer {
  font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1024px) {
  .footer {
    height: 70px;
  }
}

@media (max-width: 768px) {
  .footer {
    height: 64px;
  }
}

@media (max-width: 700px) {
  .footer {
    height: 224px;
    padding-top: 20px;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }
}