.news-card__title {
  font-family: 'Roboto Slab', 'Georgia', serif;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  margin: 0 0 16px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow-y: hidden;
  word-wrap: break-word;
}

@media (max-width: 1280px) {
  .news-card__title {
    line-height: 28px;
    margin: 0 0 14px;
  }
}

@media (max-width: 1024px) {
  .news-card__title {
    font-size: 24px;
    line-height: 26px;
    margin: 0 0 12px;
  }
}

@media (max-width: 768px) {
  .news-card__title {
    font-size: 22px;
    line-height: 24px;
    margin: 0 0 10px;
  }
}

@media (max-width: 576px) {
  .news-card__title {
    font-size: 22px;
    line-height: 24px;
    margin: 0 0 10px;
    -webkit-line-clamp: 2;
  }
}
