@import url('./__content/commits__content.css');
@import url('./__link-wrapper/commits__link-wrapper.css');
@import url('./__link/commits__link.css');
@import url('./__title-container/commits__title-container.css');
@import url('./__title/commits__title.css');
@import url('./__github-button/commits__github-button.css');

.commits {
  font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
  background-color: #F5F6F7;
}