.news-card__text-content {
  height: 304px;
  background-color: #fff;
  padding: 20px 24px 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1280px) {
  .news-card__text-content {
    height: 290px;
    padding: 18px 22px 22px;
  }
}

@media (max-width: 1024px) {
  .news-card__text-content {
    height: 280px;
    padding: 18px;
  }
}

@media (max-width: 768px) {
  .news-card__text-content {
    height: 270px;
    padding: 16px;
  }
}

@media (max-width: 576px) {
  .news-card__text-content {
    height: 250px;
  }
}